{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"proseWrap": "always",
	"tabWidth": 2,
	"bracketSpacing": true,
	"semi": true,
	"arrowParens": "avoid",
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"overrides": [
		{
			"files": [".prettierrc", ".eslintrc"],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": ["package.json"],
			"options": {
				"printWidth": 180
			}
		}
	]
}
